*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    /* overflow-x:hidden; */
    
}
html{
    font-size: 62.5%;

}
body{
    overflow-x:hidden;
}
.header{
    height: 100vh;
    width:100%;
position: relative;
}
.img-wrapper{
    height:100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
   
    overflow: hidden;
}
.img-wrapper img{
    height: 100%;
    width: 100%;
   object-fit: cover;
    opacity: 0.6;
    animation-name: scale;
    animation-duration: 36s;

   


}
.banner{
    position: absolute;
    top:38%;
    left:10%;
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}
.banner h1{
    font-family: 'Baloo Da 2';
    font-size: 7.6rem;
    color: #fff;
    font-weight:200;
    width: 50%;
    line-height:90%;
    /* letter-spacing: 00.2rem; */
    text-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.6);
}
.banner h3{
    color: white;
    font-family: 'Josefin Slab',sans-serif;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 20px;
    width:60%;
}
.btn{
background-color: rgb(228, 206, 135);
border: none;
height: 4.7rem;
width: 13rem;
font-size: 15px;
border-radius: 4px;
text-transform: uppercase;
/* font-family: 'Muli'; */
cursor: pointer;
color:black;
text-shadow: 0 0.2rem 0.2rem rgbs(0,0,0,0.4);
transition: background-color 0.3s;
}
.btn:hover{
    background-color:rgb(167, 126, 38) ;
}
.hamburger-menu{
    width:3rem;
    height: 3rem;
    /* background-color: rgb(199, 13, 199); */
    position: fixed;
    top:2rem;
    right: 3rem;
    z-index:200;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: right 0.6s;
    
}
.change .hamburger-menu{
    right:40rem;
}
.line{
    height: 0.2rem;
    width: 100%;
    background-color: white;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}
.sidebar{
    width: 40rem;
    height: 100vh;
    position: fixed;
    top: 0;
    /* right: 0; */
    background-color: white;
    right: -40rem;
    transition: right 0.5s;
}
.change .sidebar{
    right:0;
}
.menu{
    position:absolute;
    top:20%;
        left: 36%;
        /* transform: translate(-50%,-50%); */
}
.menu-items{
    /* justify-content: spa; */
    text-align: center;
}
.menu-link{
    font-family: 'Baloo Da 2';
    font-size: 2.9rem;
    color: rgb(104, 103, 102);
}
.social-media{
    position: absolute;
    bottom:1rem;
    width: 100%;
    left:-6rem;
    display: flex;
    justify-content: centre;
}
.social-media i{
    font-size: 2rem;
    margin: 3rem;
    width:5rem;
    height: 5rem;
    background-color: rgb(114, 65, 8);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    display: flex;
    color:white;
    transition: background-color, 0.2s;
}
.social-media i:hover{
    background-color: rgb(245, 191, 92);
}
.menu-link{
    position:relative;
}
.menu-link:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(26, 15, 15);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}
.menu-link:hover:before{
    visibility:visible;
    transform: scaleX(1);
}
.change .line{
    background-color:rgba(0,0,0,0.8);

}
.change .line1{
    transform: rotate(45deg)
    translate(1.1rem,1.2rem);
}
.change .line2{
    opacity: 0;
    visibility: hidden;
}
.change .line3{
    transform: rotate(-45deg)
    translate(-0.1rem,-0.2rem);
}
.about-us{
    /* overflow-x: hidden; */
    position: absolute;
    /* overflow-x: hidden; */
}
.image2 img{
    /* object-fit: cover; */
    /* height: 100%; */
    width:100%;
    /* height: 500%; */
    object-fit: cover;
    overflow: hidden;
    opacity: 0.2;
    
}
.image2{
    /* position: relative; */
    position: absolute;
    top:0rem;
    /* object-fit: cover; */
    /* overflow: hidden; */
    height:150%;
    width: 104%;
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.6)), url(https://www.hopperhq.com/wp-content/uploads/2019/06/Copy-of-Hopper-Blog-Headers-NEW-2.png);
    

}
.section-header{
position: relative;
z-index: 400;
top:1.5rem;
font-size: 4rem;
left:12rem;
font-family: 'Baloo Da 2';
color: white;
/* text-decoration: underline; */

}
.about-us-text{
    position: relative;
    z-index: 400;
    width: 60%;
    color: white;
    font-family: 'Josefin Slab';
    font-size: 1.9rem;
    left:12rem;
    top:2rem;
    height: 100%;
    line-height: 20px;
}
.loghead{
    position:fixed;
    z-index: 200;
    top:5rem;
    left: 13rem;
}
.login{
    position: relative;
    left:4rem;
    border: none;
    height: 0rem;
    font-size: 1.6rem;
    color: white;
    transition: color 0.3s;
    cursor: pointer;
}
.login:hover{
    color: rgb(2, 23, 44);
}
.signup{
    border:none;
    height: 2.5rem;
    width: 8rem;
    background-color:rgb(228, 206, 135) ;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;

}
.signup:hover{
    background-color:rgb(167, 126, 38);
}
.pricing{
    position: relative;
    top:19rem;
    z-index: -100;
    /* background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.8)),url(https://blog.travelcarma.com/wp-content/uploads/2017/06/How-To-Instagram-Pics-Travel-1500x1000.jpg); */


}
.price{
    background-color: rgb(228, 207, 180);
    position: relative;
    top:18rem;
    z-index: -100;
    height: 70rem;

}
.image3{
    /* background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.8)),url(https://blog.travelcarma.com/wp-content/uploads/2017/06/How-To-Instagram-Pics-Travel-1500x1000.jpg); */
    /* background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.6)),url(https://www.hopperhq.com/wp-content/uploads/2019/06/Copy-of-Hopper-Blog-Headers-NEW-2.png); */
    position: relative;
    z-index: 200;
    top:10rem;


}
.section-header2{
    font-size: 4rem;
    font-family: 'Baloo Da 2';
    position: relative;
    top:-13rem;
    left:12rem;
}
.pricing{
    /* background-image: ; */
    /* background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.8)),url(https://blog.travelcarma.com/wp-content/uploads/2017/06/How-To-Instagram-Pics-Travel-1500x1000.jpg); */
    
}

.pricingbox{
    display:flex;
    position: relative;
    /* height: 100vh; */
    top:-10rem;
    left: -2rem;
    /* z-index: 400; */
    
}
.pricingtext1{
    background-color:rgb(252, 242, 231);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    height: 40rem;
    width:20%;
    font-size:2rem;
    position: relative;
    left:13rem;
    padding:20px 2px 2px 10px;
    border-radius: 4px;
}
.pricingtext2{
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    height: 40rem;
    width:20%;
    font-size:2rem;
    position: relative;
    left:32rem;
    padding:20px 2px 2px 10px;
    border-radius: 4px;
    background-color:rgb(245, 234, 222);

}
.pricingtext3{
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    height: 40rem;
    width:20%;
    font-size:2rem;
    position: relative;
    left:50rem;
    padding:20px 2px 2px 10px;
    border-radius: 4px;
    background-color:rgb(245, 233, 218);

}
footer{
    position: relative;
    top:18rem;
    height: 8rem;
    background-color: rgb(2, 0, 2);
}
i{
    color: white;
    position: relative;
    top:2.5rem;
    left: 10rem;
    font-size: 3rem;
    letter-spacing: 2px;
    font-family: 'Baloo da 2';
}
h6{
    font-size: 2rem;
    font-family: 'Baloo Da 2';
    font-weight:600;
    text-decoration: underline;
}


